<br><br>
<div class="container">
    <a href="/getAlbums"><button class="btn btn-primary">List Albums</button></a>
    <a href=""><button class="btn btn-primary">Users</button></a><br><br>
    <form action="/logout" method="post">
        <button class="btn btn-primary">Đăng xuất</button>
    </form>
</div>