
<div class="row d-flex justify-content-center">
    <form id="form-login" class="col-md-6 text-center"  action="/sigin" method="POST" >
    <h2>Login</h2>
    <input type="text" placeholder="Email..." name="email" id="email">
    <input type="password" name="password" id="" placeholder="password" name="password">
    <button class="btn btn-primary">Login</button>
</form>
</div>